.inline {
    display: inline;
}

body {
    color: lightgray;
    background: slategray;
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    padding-left: 10%;
    padding-right: 10%;
}

.flash-failure {
    color: red;
    background: rgba(50,50,50, 0.5);
    text-align: center;
}
.flash-success {
    color: green;
    background: rgba(50,50,50, 0.5);
    text-align: center;
}