/* .inline {
    display: inline;
    color: green;
    background: blue;
} */

.test {
    background: red;
}
/* 
body {
    color: lightgray;
    background: slategray;
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    padding-left: 10%;
    padding-right: 10%;
}
 */
