<% if flash.has?(:logout_notice)%>
  <h4 class="flash-success"><%= flash[:logout_notice] %></h4>
<% end %>
<h1 class="centre"> Let's Go To </h1>
<h3 class="centre"> Go see what you want to see! </h3>
<button action="/attactions">See Attactions</button>