<!doctype html>
<html>
  <head>
    <title>Lets go to!</title>
   <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  </head>
  <body>

    <div class="container">
    <nav>
      <span id='logo'>Lets Go To...</span> 
    
      <span id="authentication"><a href="/users/login">Login</a> | <a href="/users/signup">Sign up</a> | <a href="/users/logout">Logout</a>
    </nav>

    </div>
      <%= yield %>
      

  </body>