<!doctype html>
<html>
  <head>
    <title>Lets go to!</title>
   <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  </head>
  <body>

    <div class="container">
    <nav>
      <span id='logo'>Lets Go To...</span> 
     <% if Helpers.is_logged_in?(session) %>
        <span><%=Helpers.current_user(session).username %> is logged in</span>
        <a href="/users/logout">Logout</a>
      <% else %>
      <span id="authentication"><a href="/users/login">Login</a> | <a href="/users/signup">Sign up</a> 
     <% end %>
   
   
   
    </nav>

    </div>
      <%= yield %>
      

  </body>